#btn-add-data-anak {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#btn-back {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#create-button {
    /* text color white */
    color: white;
    /* background color blue */
    background-color: #007bff;
}

#grafik-button{
        /* text color white */
        color: white;
        /* background color green */
        background-color: #007bff;
}
#export-button {
    /* text color white */
    color: white;
    /* background color green */
    background-color: #28a745;
}