#create-button {
    /* text color white */
    color: white;
    /* background color blue */
    background-color: #007bff;
}

#save-button {
    /* text color white */
    color: white;
    /* background color green */
    background-color: #28a745;
}

#back-button {
    /* text color white */
    color: white;
    /* background color red */
    background-color: #dc3545;
}