#create-button {
    /* text color white */
    color: white;
    /* background color blue */
    background-color: #007bff;
}

#save-button {
    /* text color white */
    color: white;
    /* background color green */
    background-color: #28a745;
}

#back-button {
    /* text color white */
    color: white;
    /* background color red */
    background-color: #dc3545;
}

#warning-button {
    /* text color white */
    color: white;
    /* background color yellow */
    background-color: #f7b731;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
}

#edit-button {
    /* text color white */
    color: #f7b731;
}

#delete-button {
    /* text color white */
    color: #dc3545;
    /* background color red
    background-color: #dc3545; */
}